* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

/* key dimension  */
span {
    position: relative;
    width: 80px;
    height: 80px;
    padding: 8px 15px;
    margin: 8px 4px;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    background: linear-gradient(180deg, #282828, #202020);
    box-shadow:
        inset -8px 0 8px rgba(0, 0, 0, .15),
        inset 0 -8px 8px rgba(0, 0, 0, .25),
        0 0 0 2px rgba(0, 0, 0, .75),
        10px 20px 25px rgba(0, 0, 0, .4);
}

span:last-child {
    width: 100%;
}

/* light shadow effect */
span::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #232323, #4a4a4a);
    box-shadow:
        -10px -10px 10px rgba(255, 255, 255, .25),
        10px 5px 20px rgba(0, 0, 0, .15);
    border-radius: 10px;
    border-top: 1px solid #0009;
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
}

span i {
    position: relative;
    color: white;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.8em;
}