* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}


:root {
    --bgColor       : #edf1f4;
    --size          : 70px;
    --padding       : 8px;
    --expanded-width: 600px;
}


body {
    font-family     : system-ui, sans-serif;
    font-size       : 16px;
    line-height     : 1.5;
    color           : #3a3a3a;
    background-color: #ecedef;
    padding         : 100px 50px;
}


h1 {
    text-align   : center;
    margin-bottom: 5rem;
}


.search-bar {
    display         : flex;
    justify-content : flex-end;
    background-color: #fff;
    box-shadow      : 0 10px 10px 0 #d6d9e2;
    border-radius   : 100px;
    outline         : 1px solid transparent;
    overflow        : hidden;
    padding         : var(--padding);
    margin-inline   : auto;
    width           : var(--size);
    height          : var(--size);
    max-width       : 100%;
    transition      : width 0.5s, outline 0.5s;
}


.search-bar:focus-within {
    width  : var(--expanded-width);
    outline: 1px solid #2e2e2e;
}


.search-input {
    font-size       : 18px;
    color           : #3a3a3a;
    background-color: transparent;
    border          : none;
    outline         : none;
    margin-inline   : 1rem;
    flex            : auto;
    opacity         : 0;
    transition      : opacity 0.5s;
}


.search-bar:focus-within .search-input {
    opacity: 1;
}


.search-submit {
    flex            : none;
    display         : flex;
    justify-content : center;
    align-items     : center;
    font-size       : 18px;
    color           : #fff;
    background-color: #3a3a3a;
    border-radius   : 50%;
    border          : none;
    width           : calc(var(--size) - var(--padding) - var(--padding));
    aspect-ratio    : 1;
    cursor          : pointer;
}