* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bgColor: #edf1f4;
}

body {
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
    font-weight: 17px;
    font-family: sans-serif;
    /* color: var(--bgColor); */
}

.container>div {
    flex: 100%;
}

.subContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: #636363;
    border-radius: 4px;
}

.sidebar {
    flex: 1;
    background: rgb(75, 185, 75);
    border-radius: 4px;
}

.mainContainer {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.mainContainer>div {
    flex: 100%;
}

h4 {
    padding: 10px;
}

.main {
    min-height: 250px;
    background: rgb(180, 180, 183);
    border-radius: 4px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content1,
.content2,
.content3 {
    flex: 1;
    min-height: 200px;
    background: rgb(100, 104, 104);
    border-radius: 4px;
}

.footer{
    flex: 100%;
    min-height: 50px;
    background: rgb(220, 104, 104);
    border-radius: 4px;
}