:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 916px;
    width: calc(100% - 20px);
}

#card-container:hover>.card>.card-border {
    opacity: 1;
}


.card {
    position: relative;
    width: 280px;
    height: 260px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 10px;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card>.card-border {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms;
}

.card::before {
    /* var(--mouse-x) var(--mouse-y) ==> these value set from JS file */
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, .06),
            transparent 40%);
    z-index: 3;
}

.card>.card-border {
    /* var(--mouse-x) var(--mouse-y) ==> these value set from JS file */
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, .3),
            transparent 40%);
    z-index: 1;
}

.card>.card-content {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: var(--card-color);
    border-radius: inherit;
    position: relative;
    margin: 1px;
    z-index: 2;
}