* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #333;
    --green: #00f376;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.container .box {
    width: 300px;
    height: 400px;
    background: linear-gradient(45deg,
            var(--green) 10%,
            transparent 10%,
            transparent 50%,
            var(--green) 50%,
            var(--green) 60%,
            transparent 60%,
            transparent 100%);
    background-size: 15px 15px;
    box-shadow: 0 0 0 10px var(--bg), 0 0 0 14px var(--green);
    filter: hue-rotate(calc(var(--i) * 90deg));
    animation: movingStart .5s linear infinite;
}

@keyframes movingStart {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 15px;
    }
}

.container .box::before {
    content: '';
    position: absolute;
    inset: 20px;
    background: var(--bg);
}


.container .box::after {
    content: '';
    position: absolute;
    inset: 30px;
    border: 3px dashed var(--green);
}