@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-decoration: none;
    outline        : none;
}


:root {
    --topBorderColor: #14bc25;
    --gridLineColor : #dddddd;
    --bgColor       : #c4e5d1;
    --radius        : 6px;
    --borderStyle   : 1px #0556b3 dashed;
}


body {
    padding              : 1rem;
    font-family          : "Nunito", sans-serif;
    font-optical-sizing  : auto;
    border-block-start   : 6px solid var(--topBorderColor);
    background-attachment: fixed;
    background-image     :
        linear-gradient(transparent, var(--bgColor) 70%),
        repeating-linear-gradient(var(--gridLineColor),
            var(--gridLineColor) 1px,
            transparent 1px,
            transparent 40px),
        repeating-linear-gradient(to right,
            var(--gridLineColor),
            var(--gridLineColor) 1px,
            transparent 1px,
            transparent 40px);
}


header {
    padding        : 0 1rem;
    display        : flex;
    flex-wrap      : wrap;
    gap            : 12px;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 12px;


    .filter {
        user-select    : none;
        display        : flex;
        align-items    : center;
        justify-content: center;
        gap            : 8px;
        border         : 1px solid var(--topBorderColor);
        padding        : 4px 5px;
        border-radius  : 25px;


        p {
            padding      : 5px 10px;
            cursor       : pointer;
            transition   : all 0.3s ease;
            border-radius: 25px;
            border       : 1px solid var(--topBorderColor);

            &:hover {
                background-color: var(--topBorderColor);
                color           : white;
            }

            &.active {
                background-color: var(--topBorderColor);
                color           : white;
            }
        }
    }

    input {
        padding      : 4px 5px 3px;
        width        : 300px;
        font-size    : 18px;
        border       : 1px solid var(--topBorderColor);
        border-radius: 1px;
        border-radius: 6px;
    }
}


.highlight {
    background-color: var(--topBorderColor);
    font-weight     : bold;
    color           : white;
}


#container {
    padding    : 1rem;
    display    : flex;
    flex-wrap  : wrap;
    align-items: center;
    gap        : 20px;
}


#container .projectBox {
    position        : relative;
    text-align      : center;
    flex-grow       : 1;
    font-size       : 24px;
    cursor          : pointer;
    border          : var(--borderStyle);
    border-radius   : var(--radius);
    background-color: #ffffff;
    transition      : background-color .5s ease;
}


#container .projectBox:hover {
    background-color: aquamarine;
}


#container .projectBox .anchorLink {
    display: block;
    width  : 100% !important;
    padding: 24px 14px 16px;
    height : 100%;
    color  : rgb(29, 29, 29);
}


#container .projectBox .projectContext,
#container .projectBox .projectNumber {
    position     : absolute;
    top          : 0px;
    display      : grid;
    place-items  : center;
    font-size    : 12px;
    line-height  : 20px;
    font-weight  : bold;
    color        : #118911;
    border-bottom: var(--borderStyle);
    transition   : .2s ease;
}


#container .projectBox .projectNumber {
    left                      : 0px;
    width                     : 22px;
    border-right              : var(--borderStyle);
    border-bottom-right-radius: var(--radius);
}


#container .projectBox .projectContext {
    right                    : 0px;
    padding                  : 0 5px;
    border-left              : var(--borderStyle);
    border-bottom-left-radius: var(--radius);
}


#container .projectBox:hover .projectContext,
#container .projectBox:hover .projectNumber {
    color: #b00606
}